@charset "UTF-8";

/*Configurações para celular, pensndo em Mobile First*/

/*
    Paleta de cores
    Verde: #49a09d
    Lilás: #5f2c82
 */

* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, sans-serif;
    box-sizing: border-box;
}

body, html {
    height: 100vh;
    width: 100%;
    background-color: #5f2c82;
}

main {
    position: relative;
    height: 100vh;
    width: 100%;
}

/*Configurando baseado em tela de celular*/

section#login {
    /*Colocando a div no meio:
    Position relative no pai
    Position absolute no filho para deixar o ponto inicial no meio da tela
    top 50%
    left 50%
    e translate*/

    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;

    background-color: white;
    width: 250px;
    height: 520px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.45);

    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
}

div#imagem {
    display: block;
    background-color: #5f2c82;
    background-image: url("../imagens/metal.jpg");
    height: 200px;
    background-size: cover;
    background-position: left bottom;

}

/*Colorindo os inputs*/
form >div.campo{
    background-color: #5f2c82;
    border-radius: 5px;
    color: white;
    margin: 5px 0;

    /*height: 40px;*/
}

/*Configurações dos icones*/
div.campo > span{
    color: white;
    /*Ter nocao das bordas*/
    /*background-color: black;*/
    font-size: 1.3em;
    width: 40px;
    padding: 10px;
}
div.campo > input{
    background-color: #49a09d;
    height: 2.6em;
    width: calc(82% - 10px);
    border-radius: 8px;
    transform: translateY(-4px);
}

/*Deixa o background branco quando você seleciona para digitar algo*/
div.campo > input:focus-within{
    background-color: white;
}




section#login > div#formulario {
    display: block;
    text-align: center;
    padding: 10px;
    height: 100%;

}

section#login > div#formulario > h1 {
    padding-bottom: 15px ;
}

section#login > div#formulario > p {
    font-size: 0.9em;
}

/*É possível especificar os seus elementos por seus atriburos e valores*/
form > input[type=submit] {
    display: block; /*Para pula uma linha pro proximo elemento*/
    font-size: 1em;
    /*ocupar todo o container*/
    width: 100%;
    height: 40px;
    border: none;
    color: white;
    background-color: #49a09d;
    border-radius: 5px;
    margin-top: 10px;
}

form > input[type=submit]:hover {
    background-color: #2c615e;
    cursor: pointer; /*deixar o ponteiro como maozinha quando passa por cima*/
}


form > #iesqueci {
    /*Tem que colocar o display block para ir o width: 100%*/
    display: block;
    color: #2c615e;
    text-decoration: none;
    border: 1px solid #2c615e;
    border-radius: 5px;
    width: 100%;
    padding-bottom: 10px;
    margin-top: 5px;
    font-size: 1em;
    height: 40px; /*Mesmo do de cima*/
}

form > #iesqueci:hover {
    background-color: #82dcd7;
}

form > #iesqueci > span {
    font-size: 0.8em;
    line-height: 2.55;
}