@charset "UTF-8";

/*Configurações para celular, pensndo em Mobile First*/

/*
    Paleta de cores
    Verde: #49a09d
    Lilás: #5f2c82
 */

* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, sans-serif;
    box-sizing: border-box;
}

body, html {
    height: 100vh;
    width: 100%;
    background-color: #5f2c82;
}

main {
    position: relative;
    height: 100vh;
    width: 100%;
}

/*Configurando baseado em tela de celular*/

section#login {
    /*Colocando a div no meio:
    Position relative no pai
    Position absolute no filho para deixar o ponto inicial no meio da tela
    top 50%
    left 50%
    e translate*/

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.45);

    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

div#imagem {
    display: block;
    background-color: #5f2c82;
    background-image: url("../imagens/metal.jpg");
    height: 200px;
    background-size: cover;
    background-position: left bottom;

}


section#login > div#formulario {
    display: block;
    text-align: center;
    padding: 10px;
}

section#login > div#formulario > h1 {
    padding-bottom: 15px ;
}

section#login > div#formulario > p {
    font-size: 0.9em;
}